.category {
  width: 200px;
  background-color: #00859b;
  height: 30px;
  color: #fff;
  padding-left: 20px;
  border-radius: 5px;
  padding-top: 8px;
}

.applet-count {
  margin-left: 5px;
  font-size: 0.75em;
  background: darkgrey;
  padding: 5px 9px;
  border-radius: 25px

}